// homepage images

#homepage_pic, #signin_pic {
  width: 100%;
}

#homepage_logo {
  width: 100px;
  margin-left: 30%;
}

// for images on the index page

.user-index{
  li{
    display: inline-block;
    list-style: none;
  }
  // img{
  //   width: 250px;
  // }
}

// Centering the content on the page
.container{
  width: 90%;
  margin: auto;
  height: 100%;
}

.login_message {
  text-align: right;
  margin-top: -15px;
}

.select-form-inline {
  margin-top: 7px;
}

// Profile page styling
.photo-sizing-profile {
  width: 300px;
}

.userpic {
  width: 100%;
}

.top-buffer { 
  margin-top:20px; 
}

.remove-top-margin {
  margin-top: 0px;
  margin-left: -15px;
}

.bio-text {
  text-align: justify;
}

.right-profile-box {
  padding: 0px;
}

// New message styling

.photo-sizing-message {
  width: 250px;
}

.move-heading-left {
  margin-left: -15px
}